@model blog_mvc_yunus.Models.Makaleler

@{
    ViewBag.Title = "MakaleDuzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Makale Düzenleme Sayfası</h2>

@using (Html.BeginForm("MakaleDuzenle","AdminMakale",FormMethod.Post,new { enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Makaleler</h4>


        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MakaleId)

        <div class="form-group">
            @Html.LabelFor(model => model.KategoriId, "KategoriId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KategoriId", (IEnumerable<SelectListItem>)ViewBag.Kategoriler, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KategoriId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MakaleBasligi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MakaleBasligi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MakaleBasligi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MakaleIcerik, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MakaleIcerik, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MakaleIcerik, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MakaleFoto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              <img src="@Model.MakaleFoto" class="img-circle" width="100" />
                @Html.ValidationMessageFor(model => model.MakaleFoto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MakaleFoto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="makaleFotomuz" name="makaleFotomuz" />
                @Html.ValidationMessageFor(model => model.MakaleFoto, "", new { @class = "text-danger" })
            </div>
        </div>
      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Güncelle" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/AdminMakale/MakaleListele/" class=" btn btn-primary">
        <span class="fa fa-backward"> Geri</span>
    </a>
</div>
