<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
    @Styles.Render("~/homepage/css")
    @Scripts.Render("~/homepage/js")
   

</head>
<body>
    <!-- menu alanı -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Menü</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Anasayfa/"><span style="color:#f0ad4e">BLOG-ERTAN</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li><a name="aktif" href="/Home/Anasayfa"> <span class="glyphicon glyphicon-home"></span>ANASAYFA</a></li>
                    <li><a name="aktif" href="/Home/Hakkimizda/"><span class="glyphicon glyphicon-star-empty"></span> Hakkımızda</a></li>
                    <li><a name="aktif"href="/Home/EnPopulerler/"><span class="glyphicon glyphicon-star-empty"></span> En popülerler</a></li>
                    <li><a name="aktif" href="/Home/SonMakaleler/"><span class="glyphicon glyphicon-user"></span> Son eklenen Makaler</a></li>
                </ul>

                    @using (Html.BeginForm("Arama", "Home", FormMethod.Post, new { @class = "navbar-form nav navbar-left" }))
                    {
                        <div class="form-group" style="width:140px;">
                            <input type="text" class="form-control" id="txtSearch" name="txtSearch" placeholder="Ara" />

                        </div>
                        <button type="submit" class="btn btn-warning" id="btnAra">Ara</button>
                    }
                


                <ul class="nav navbar-nav navbar-right">
                    @if (Session["uyeId"] != null)
                    {

                        <li><a href="/Uye/Logout/"><span class="glyphicon glyphicon-log-out"></span> Çıkış Yap </a></li>
                        if (Convert.ToInt32(Session["yetkiId"]) == 1)
                        {
                            <li>
                                <a href="/Admin/Listele"><span class="glyphicon glyphicon-log-out"></span> Admin Paneli </a>
                            </li>
                        }
                        else
                        {
                            <li><a href="/Uye/UyeDetay/@Session["uyeId"]"><span class="glyphicon glyphicon-user"></span>@Session["kullaniciAdi"].ToString() </a></li>
                        }

                    }
                    else
                    {
                        <li><a href="/Uye/Login/"><span class="glyphicon glyphicon-log-in"></span> Giriş Yap </a></li>
                        <li><a href="/Uye/UyeOlustur/"><span class="glyphicon glyphicon-adjust"></span> Kayıt  Ol </a></li>
                    }
                    <
                   

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">
        <div class="col-md-3" style="margin-top:65px;">
           
            @{
                Html.RenderAction("_PartialKategoriler", "Home");
            }

            @{
                Html.RenderAction("_PartialSonYorumlar", "Home");
            }

        </div>


        <div class="col-md-9" style="margin-top:65px;">
            @RenderBody()
        </div>

    </div>

    @{
        Html.RenderAction("_PartialFooter", "Home");
    }

</body>


</html>




