@model blog_mvc_yunus.Models.Kategoriler

@{
    ViewBag.Title = "AdminKategoriEkle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Scripts.Render("~/admin/validate_js")

<h2>AdminKategoriEkle</h2>

@using (Html.BeginForm("AdminKategoriEkle","Admin",FormMethod.Post,new {enctype="multipart/form-data" })) // Foto eklemek için 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kategoriler</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.KategoriAdi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KategoriAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KategoriAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tanım, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tanım, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tanım, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file"  id="gelenResim" name="gelenResim" accept=".jpg,.png,.JPG" />
                @Html.ValidationMessageFor(model => model.Resim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
   <a href="/Admin/Listele/" class="btn btn-danger">
       <span class="glyphicon glyphicon-chevron-left"> </span>Geri
   </a>
</div>
