@model blog_mvc_yunus.Models.Kategoriler

@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detay</h2>

<div>
    <h4>Kategoriler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tanım)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tanım)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim)
        </dt>

        <dd>
            <img src="@Model.Resim" class="img-circle" width="100" />
        </dd>

    </dl>
</div>
<p>


    <a href="/Admin/Listele/" class="btn btn-primary">
        <span class="fa fa-backward">Geri</span>
    </a>

    <a href="/Admin/AdminKategoriDuzenle/@Model.KategoriId" class="btn btn-success">
        <span class="fa fa-edit">Düzenle</span>
    </a>

   
</p>
